<div class="text-center">
	<h1>New Virtual Stand-up Meeting Note</h1>

	<p class="lead">Use this form to enter your daily meeting notes</p>
</div>

<form class="form-horizontal" method="post" action="newnote">
	<fieldset>
		<legend>Enter a Meeting Note</legend>

		<div class="form-group">
			<label class="col-md-4 control-label" for="memberName">Member Name</label>

			<div class="col-md-4">
				<select class="form-control" name="memberName" id="memberName">
					<option value="None">(Select Name)</option>
					<option value="Divya">Divya</option>
					<option value="Robert">Robert</option>
					<option value="Merrick">Merrick</option>
					<option value="Ilya">Ilya</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="project">Current Project</label>

			<div class="col-md-4">
				<select class="form-control" name="project" id="project">
					<option value="None">(Select Project)</option>
					<option value="Node">Node Project</option>
					<option value="Angular 2">New Angular</option>
					<option value="Mongoose">No SQL db development</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="workYesterday">What did you do yesterday?</label>

			<div class="col-md-6">
				<textarea class="form-control" name="workYesterday" id="workYesterday">Worked</textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="workToday">What will you do today?</label>

			<div class="col-md-6">
				<textarea class="form-control" name="workToday" id="workToday">Work</textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="impediment">Any impediments?</label>

			<div class="col-md-6">
				<textarea class="form-control" name="impediment" id="impediment">None</textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-6">
				<button class="btn btn-primary" name="btnSaveNote" id="btnSaveNote">Save</button>
			</div>
		</div>

	</fieldset>
</form>